

<!-- <img src='assets/store.jpg'> -->
<div style="margin-top: 30px;" class="div2"></div>
<div class="row">
    <div routerLink="/customer-list" class="col-md-3">
        <div class=" info info-a">
        <div class="header">Users</div>
        
        <img src='assets/user.png'>
        </div>
    </div>

    <div routerLink="/book-list" class="col-md-3">
        <div class="info info-b">
        <div class="header">Books</div>
       
        <img src='assets/book.png'>
        </div>
    </div>

    <div routerLink="/orders" class="col-md-3">
        <div class="info info-c">
        <div class="header">Orders</div>
       
        <img src='assets/shopping_cart.png'>
        </div>
    </div>

</div>