
<div class="col-md-2"></div>
<div  class="col-md-3">

    <tbody class="angled-gradient">
        <div class="col-md-3"></div>
        <div class="col-md-7">
<div class="container;">
    <legend style="font-size: 40px;font-weight: bold;  color:aliceblue">Payment</legend>
    <span style="font-weight: bold; font-size: 20px" class="label label-danger">{{message}}</span>
    <br>
    <div class="form-group" >
        <label style="color: aliceblue;" for="">Card No</label>
        <input style="border: none; border-bottom: 2px solid rebeccapurple; width: 100%" type="number" class="form-control"  placeholder="1111-2222-3333-4444" required >
    </div>
        <br>
        <div class="form-group" >
                <label style="color: aliceblue" for="" >Exp Date</label>
                <input style="border: none; border-bottom: 2px solid rebeccapurple;width: 100%" type="date" class="form-control" required>
      
    </div>
        <br>
        <div class="form-group" >
                <label style="color: aliceblue" for="email">CVV No</label>
                <input style="border: none; border-bottom: 2px solid rebeccapurple;width: 100%" type="number" class="form-control" placeholder="Enter CVV" required >
    </div>
    <br>
    <div class="form-group">
        <label style="color: aliceblue" for="">Total Payable Amount</label>
        <input [(ngModel)]="sum" style="border: none; border-bottom: 2px solid rebeccapurple;width: 100%" type="number" class="form-control"  >
    </div>
    <br>
    <div class="form-group" >
        <label style="color: aliceblue" for="email">Name as on Card</label>
        <input  style="border: none; border-bottom: 2px solid rebeccapurple;width: 100%" type="text" class="form-control" placeholder="Enter Name" required >
    </div>
    <br>
    <div class="form-group">
        <label style="color: aliceblue" for="password">Password</label>
        <input  style="border: none; border-bottom: 2px solid rebeccapurple;width: 100%" type="password" class="form-control" name="password" id="password" placeholder="Enter Password" >
    </div>
    <button  style="font-size: 20px" (click)="pay()" type="button" class="btn btn-success" >Pay</button>
    <button style="font-size: 20px" type="button" class="btn btn-danger" (click)="cancel()" >Cancel</button>
    <br>
    <br>
  
</div>

</div>
</tbody>
</div>

