<h2 style="color:rgb(28, 114, 226);text-align:center;">Description</h2>
<div class="col-md-4"></div>
<div class="col-md-6">
    <div class="container" class="content" style="text-align:justify">
        
        <h4 style="color: white;">Title:{{Title}}</h4>
        <br>
        <h4 style="color: white">Author Name: {{Author}}</h4>
        <br>
        <h4 style="color: white;">{{Description}}</h4><br>
        <h4 style="color: white;">Price:&nbsp;&nbsp;{{Price}}</h4>
        <br> 
        <h4 style="color: white;">ISBN:&nbsp;&nbsp;{{ISBN}}</h4>
        <br>
        <h4 style="color: white;">Available Copies:&nbsp;&nbsp;{{count}}</h4>
        <br>
        <div class="form-group">
        <label style="color: white;"for="">Quantity</label>
        <input [(ngModel)]="quantity" type="number" class="form-control">
        </div>
       <div >
            <button style="font-size: 16px;" type="button" (click)="addToCart()" class="btn btn-warning">Add to Cart</button>
            <button type="button" routerLink="/gallery" class="btn btn-success float-right" style="margin-right: 10px;">Previous Page</button>
       </div>
    </div>
</div>

